<ul>
{{#each lists}}
    <li>
        <h4>{{this.listName}}</h4>
        <ul>
        {{#each this.games}}
        <li>
            {{this.title}}
            <ul>
            {{#each this.urevs}}
            <li>
            <p>Rating: {{this.rating}}</p>
            <p>{{this.reviewText}}</p>
            </li>
            {{/each}}
            {{#each this.ucoms}}
            <li>
            <p>{{this.commentText}}</p>
            </li>
            {{/each}}
            </ul>
        </li>
        {{/each}}
        </ul>
    </li>
{{/each}}
</ul>