<article>
    {{#if reviews}}
        <h2>{{username}}'s Reviews</h2>
        <ul>
            {{#each reviews}}
                <li>
                    <h4>Game: {{game}}</h4>
                    <p>Review: {{review}}</p>
                    <p>Rating: {{rating}}/5</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>{{username}} has no reviews</p>
    {{/if}}
</article>